<a href="https://colab.research.google.com/github/potatoez09/c98/blob/main/c99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("*")
print("* *")
print("* * *")
print("* * * *")
print("* * * * *")

*
* *
* * *
* * * *
* * * * *

In [20]:
user = int(input("enter the number of rows: "))
for i in range(0,user):
  for j in range(0,i+1):
    print("*",end=" ")
  print()

enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [17]:
user_input = int(input("enter your number"))
for i in range(0,user_input):
  for j in range(0,i+1):
    print(j,end=" ")
  print()

enter your number3
0
0 1
0 1 2

In [21]:
user_input = int(input("enter your number"))
for i in range(0,user_input):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

enter your number5

1
1 2
1 2 3
1 2 3 4

In [66]:
user = int(input("enter the number of rows: "))
for i in range(user,0,-1):
  for j in range(1,i+1):
#for j in range(i+1,user):
    print(j,end=" ")
  print()

enter the number of rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [76]:
name = input("enter your name")
itereation = len(name)
for i in range(0,itereation):
  for j in range(0,itereation):
    if (i == j):
      print (name[j],sep=" ",end=" ")
    else:
      print ("*",sep=" ",end=" ")
  print()

enter your namesd
s *
* d